@import "./media";

$background-color: #fffffb;
$text-grey: rgba(0,0,0, 0.4);

@font-face {
    font-family: "GT America Trial";
    src: url("../fonts/gt-america-light.woff") format('woff');
};
@font-face {
    font-family: "Circular";
    src: url("../fonts/CircularStd-Bold.woff") format('woff');
};

body {  
    margin: 0;
    line-height: 1.3;
    
    // default font
    font-family: "GT America Trial", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
a {
    color: black;
    text-decoration: none;
    &:hover {
        color: $text-grey;
    }
}

.font-circular {
    font-family: "Circular";
}
.flex {
    display: flex;
}
.flex-column {
    flex-direction: column;
}
.space-between {
    justify-content: space-between;
    align-items: flex-start;
}
.space-around {
    justify-content: space-around;
    align-items: flex-start;
}
.align-center {
    align-items: center;
}
.align-end { 
    align-items: flex-end;
}
.justify-center {
    justify-content: center;
}
.justify-end {
    justify-content: flex-end;
}