@import "./variables";

body {  
    margin: 0;
    line-height:                      1.3;
    
    // default font
    font-family:                      "GT America Trial", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing:           antialiased;
    -moz-osx-font-smoothing:          grayscale;
}

a {
    color:                          black;
    text-decoration:                  none;
    &:hover {
        color:                         $text-grey;
    }
}

.flex {
    display:                          flex;
}
.flex-column {
    flex-direction:                   column;
}
.space-between {
    justify-content:                  space-between;
    align-items:                      flex-start;
}
.space-around {
    justify-content:                  space-around;
    align-items:                      flex-start;
}
.align-center {
    align-items:                      center;
}
.justify-center {
    justify-content:                  center;
}
.font-circular {
    font-family:                      "Circular";
}