@import "./media";

@include laptop {
    $text-small: 17px;
    $text-medium: 21px;
    $text-large: 24px;
    $text-xl: 48px;

    .text-small {
        font-size: $text-small;
    }
    .text-medium {
        font-size: $text-medium;
    }
    .text-large {
        font-size: $text-large;
    }
    .text-xl {
        font-size: $text-xl;
    }
    .full-width {
        width: 100vw;
    }
    .half-width {
        width: 50vw;
    }
    .half-width-ratio-included {
        width: calc(((100vh - 200px) * 1.63 ) /2);
    }
    .half-width-ratio-included-test {
        width: calc((((100vh - 200px) * 1.63 ) /2) - 50px);
    }
    .max-half-width-test {
        max-width: calc(((100vh - 200px) * 1.63 ) /2);
    }
    .max-width {
        max-width: calc((100vh - 200px) * 1.63);
    }
    .full-height {
        height: 100vh;
    }
    .grid {
        display: grid;
        grid-template-columns: repeat(12, 8.3fr);
    }
    .row-1 {
        grid-template-rows: auto;
    }
    .col-start-1 {
        grid-column-start: span 6;
    }
    .col-start-6 {
        grid-column-start: span 6;
        justify-self: end;
    }
    .col-end-12 {
        grid-column-start: 12;
        justify-self: end;
    }
    .absolute-top {
        position: absolute;
        top: 0px;
        z-index: -1;
    }
    .margin-top-90 {
        margin-top: 90px;
    }
    .padding-top {
        padding-top: 90px;
    }
    .extra-margin-top {
        margin-top: 200px;
    }
    .padding-top-50 {
        padding-top: 50px;
    }
    .padding-bottom-100 {
        padding-bottom: 100px;
    }
    .padding-bottom-150 {
        padding-bottom: 150px;
    }
    .padding-top-15 {
        padding-top: 15px;
    }
    .padding-bottom-15 {
        padding-bottom: 15px;
    }
    .navbar {
        height: 90px;
        background-color: transparent;
    }
    .carousel-text {
        height: 110px;
        background-color: transparent;
    }
    .carousel-slideshow {
        height: calc(100vh - 200px);
        width: 100vw;
    }
    .carousel-arrow {
        height: 100%;
        width: 100vw;
    }
};