@import "./media";

@include laptop {
    $text-small: 17px;
    $text-medium: 21px;
    $text-large: 24px;
    $text-xl: 48px;

    .text-small {
        font-size: $text-small;
    }
    .text-medium {
        font-size: $text-medium;
    }
    .text-large {
        font-size: $text-large;
    }
    .text-xl {
        font-size: $text-xl;
    }
    .full-width {
        width: 100vw;
    }
    .half-width {
        width: calc((100vw - 100px)/2);
    }
    .max-width {
        max-width: calc((100vh - 200px) * 1.63);
    }
    .full-height {
        height: 100vh;
    }
    .grid {
        display: grid;
        grid-template-columns: repeat(12, 8.3fr);
    }
    .row-1 {
        grid-template-rows: auto;
    }
    .col-start-1 {
        grid-column-start: span 6;
    }
    .col-start-6 {
        grid-column-start: span 6;
        justify-self: end;
    }
    .col-end-12 {
        grid-column-start: 12;
        justify-self: end;
    }
    .absolute-top {
        position: absolute;
        top: 0px;
        z-index: -1;
    }
    .margin-top {
        margin-top: 90px;
    }    

    .navbar {
        height: 90px;
        background-color: transparent;

        & div > div > a:last-child {
            margin-left: 30px;
        };
    }
    .carousel-text {
        height: 110px;
        background-color: transparent;
    }
    .carousel-slideshow {
        height: calc(100vh - 200px);
        width: 100vw;
    }
    .carousel-arrow {
        height: 100%;
        width: 100vw;
    }
};