@import "./styles/_reset";
@import "./styles/_general";
@import "./styles/_large";
@import "./styles/_medium";

/* personalize the react-reveal api */
.react-reveal {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 200px);
}