@font-face {
  font-family:                     "GT America Trial";
  src:                             url("/assets/fonts/gt-america-light.woff") format('woff');
}
@font-face {
  font-family:                     "Circular";
  src:                             url("/assets/fonts/CircularStd-Bold.woff") format('woff');
}

body {
  margin: 0;
  font-family:                      "GT America Trial", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing:           antialiased;
  -moz-osx-font-smoothing:          grayscale;
  line-height:                      1.3;
}
a, a:hover {
  color:                          black;
  text-decoration:                  none;
}

/* personlize the react-reveal api */
.react-reveal {
  display:                          flex;
  justify-content:                  center;
  align-items:                      center;
  height:                           80vh;
  width:                            80vw;
  padding:                          0 10vw;
}
/* ------------------------------- */

/* layout */
.flex {
  display:                          flex;
}
.flex-column {
  flex-direction:                   column;
}
.space-between {
  justify-content:                  space-between;
  align-items:                      flex-start;
}
.space-around {
  justify-content:                  space-around;
  align-items:                      flex-start;
}
.align-center {
  align-items:                      center;
}
.justify-center {
  justify-content:                  center;
}
.width {
  width:                            80vw;
  max-width:                        1200px;
}
.margin-top {
  margin-top:                       75px;
}
.s-margin {
  margin-bottom:                    100px;
} 
.s-height {
  min-height:                       80vh;
}
.s-framed {
  height:                           80vh;
  background-color:               burlywood;
  align-items:                      center;
}
.font-circular {
  font-family:                      "Circular";
}
/* background color works - if needed, add a height or padding to display it */
.b-color-1 {
}
/* ----- */
