@import "./styles/_reset";
@import "./styles/_general";
@import "./styles/_large";
@import "./styles/_medium";

/* personalize the react-reveal api */
.react-reveal {
  display:                          flex;
  justify-content:                  center;
  align-items:                      center;
  height:                           80vh;
  width:                            80vw;
  padding:                          0 10vw;
}